<p-toast [style]="{marginTop: '80px'}" position="top-right" key="form-toast"></p-toast>

<div class=" ui-g-12 ui-md-12 ui-lg-12 ui-xl-12">
  <p-card class="centralized">
    <p-header class="header-card-form">
      <div class="ui-helper-clearfix title-card-header">
        <span class="ui-panel-title">Adicionar novo movimento de estoque</span>
      </div>
    </p-header>
  <form [formGroup]="movimentoEstoqueForm" >
    <div class="">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <label class="required" for="produto">Nome do Produto:</label>
          <div class="ui-inputgroup">
              <p-autoComplete id="produto" name="produto" formControlName="produto" [suggestions]="listProdutos" (completeMethod)="searchProduto($event)" [minLength]="1" placeholder="Produto" field="descricao"></p-autoComplete>
          </div>
        </div>
      
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <label for="quantidade">Quantidade</label>
          <div class="ui-inputgroup">
            <input #quantidadeFormInput type="number" id="quantidade" name="quantidade" pInputText formControlName="quantidade" autocomplete="off" placeholder="Ex: 1"/>
          </div>
        </div>

      </div>
      <p-footer>
        <div class="group-button">
          <button pButton type="button" (click)="onSave()" label="Salvar" class="ui-button-raised ui-button-success"></button>
          <button pButton type="button" (click)="onCancel()" label="Cancelar" class="ui-button-raised ui-button-danger"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-card>
</div>

